<div class="col-12 d-flex mb-4" id="side-nav">
    <div class="toggleList mt-2 me-2 ms-3" id="sideOpen">
      <a href='#'><i class="fas fa-align-justify" ></i></a>
    </div>
    <div>
      <a href='#'><img src="./img/logo.jpg" alt="Youtube首頁" class="w-75 img-fluid"></a>
    </div>
</div>
  <ul class="asideNav">
    <li><i class="fa-solid fa-house mr-10"></i>
      <p>首頁</p>
    </li>
    <li><i class="fa-solid fa-compass mr-10"></i>
      <p>探索</p>
    </li>
    <li><i class="fa-solid fa-video mr-10"></i>
      <p>shorts</p>
    </li>
    <li><i class="fa-solid fa-box mr-10"></i>
      <p>訂閱內容</p>
    </li>
    <li><i class="fa-brands fa-youtube mr-10"></i>
      <p>originals</p>
    </li>
    <li><i class="fa-solid fa-music mr-10"></i></i>
      <p>Youtube music</p>
    </li>
    <li><i class="fa-solid fa-photo-film mr-10"></i>
      <p>媒體庫</p>
    </li>
    <li><i class="fa-solid fa-check mr-10"></i>
      <p>觀看紀錄</p>
    </li>
    <li><i class="fa-solid fa-tv mr-10"></i>
      <p>你的影片</p>
    </li>
    <li><i class="fa-solid fa-clock-rotate-left mr-10"></i>
      <p>稍後觀看</p>
    </li>
    <li><i class="fa-solid fa-house mr-10"></i>
      <p>首頁</p>
    </li>
    <li><i class="fa-solid fa-compass mr-10"></i>
      <p>探索</p>
    </li>
    <li><i class="fa-solid fa-video mr-10"></i>
      <p>shorts</p>
    </li>
    <li><i class="fa-solid fa-box mr-10"></i>
      <p>訂閱內容</p>
    </li>
    <li><i class="fa-brands fa-youtube mr-10"></i>
      <p>originals</p>
    </li>
    <li><i class="fa-solid fa-music mr-10"></i></i>
      <p>Youtube music</p>
    </li>
    <li><i class="fa-solid fa-photo-film mr-10"></i>
      <p>媒體庫</p>
    </li>
    <li><i class="fa-solid fa-check mr-10"></i>
      <p>觀看紀錄</p>
    </li>
    <li><i class="fa-solid fa-tv mr-10"></i>
      <p>你的影片</< /li>
    <li><i class="fa-solid fa-clock-rotate-left mr-10"></i>
      <p>稍後觀看</p>
    </li>
  </ul>