<div class="container-fluid ">
    <div class="row">
      <div class="col d-flex">
        <div class="toggleList mt-2 me-2" id="openBtn">
          <a href='#'><i class="fas fa-align-justify" ></i></a>
        </div>
        <div>
          <a href='#'><img src="./img/logo.jpg" alt="Youtube首頁" class="w-75 img-fluid"></a>
        </div>
      </div>
      <div class="col">
        <form class="d-flex">
          <input class="form-control" type="search" placeholder="搜尋" aria-label="Search">
          <button class="btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          <button class="btn"><i class="fa-solid fa-microphone"></i></button>
        </form>
      </div>
      <div class="col">
        <div class="leftnav d-flex justify-content-end">
          <a href='#'><i class="fa-solid fa-camera" ></i></a>
          <a href='#'><i class="fa-regular fa-bell""></i></a>
          <img src="./img/user.jpg" alt="" class="profoile">
        </div>
      </div>
    </div>
  </div>